


//-
 *  @author Manuel Gonzalez
 *  assignment!
 *  @file index.js
 *  Pug file that has information about my personality
 //
extends layout


block content 


 button(type='button' class='btn btn-primary') Click me!!

 h2 About my personality
   p
      | My name is Manuel Gonzalez. I live in Pontevedra, which is near portugal
      br
      | My hobbies is reading books about history, economics and politics.
      br
      | I also like playing soccer, and playing the guitar.
      br



 include partials/footer 

  
 