//-
 *  @author Manuel Gonzalez
 *  assignment!
 *  @file ContactMe.pug
 *  Pug file that has my contact infomation
 //



extends layout

block content
  h1 Contact Information
   p
      | Gmail: manolo26gonzalez99@gmail.com
      br
      | Phone: +34 691925640
      br
      | Address: Heaven
      br


