//-
 *  @author Manuel Gonzalez
 *  assignment!
 *  @file ContactMe.pug
 *  Pug file that has my contact infomation
 *  I got the form from bootstrap, and their i turned to a pug file.
 //



extends layout

block content
  h1 Contact Information
  p
      | Gmail: manolo26gonzalez99@gmail.com
      br
      | Phone: +34 691925640
      br
      | Address: Heaven
      br

  form(action='/forms/contact' method="POST")
    .form-group
      label(for='exampleFormControlInput1') Email address
      input#email.form-control(type='email' placeholder='name@example.com')
    .form-group
      label(for='exampleFormControlTextarea1') Example textarea
      textarea#message.form-control(rows='3')
    button.btn.btn-primary(type='submit') Submit