//-
 *  @author Manuel Gonzalez
 *  assignment!
 *  @file error.pug
 *  page that appears in case an error occurs
 //



extends layout

block content
  h1= message
  h2= error.status
  pre #{error.stack}