//-
 *  @author Manuel Gonzalez
 *  assignment!
 *  @file Projects.pug
 *  Pug file for projects
 //
extends layout

block content 

  

  h2 Projects
  p
    | This is where my projects will be store someday in the future
    

  include partials/footer