//-
 *  @author Manuel Gonzalez
 *  assignment!
 *  @file Services.pug
 *  Pug file for Services
 //
extends layout

block content 

  

  h2 Projects
  p
    | This is where my services will be store someday in the future
    

  include partials/footer